#logo_img {
    border-radius: 50%;
    background: red;
}

#contactId {
    background-color: rgb(168, 228, 228);
    position: relative;
    bottom: -50px;
}

#contentId {
    background-color: rgb(236, 236, 159);
    position: relative;
    bottom: -50px;
}

#pContentId {
    background-color: rgb(236, 236, 159);
    position: relative;
    bottom: -50px;   
}

#indexServiceId {
    text-align: justify;
    text-align: center;
}